@model EnglishBattleApp.Models.LoginViewModel
@using EnglishBattle.data.Services
@using EnglishBattle.data

@{
    //ViewBag.Title = "End";
    //ViewBag.End = "Félicitations ! Vous avez réussi à trouver le prétérit et le participe passé de tous les verbes irréguliers !";
}

@{
//if (ViewBag.End == null)
//{
//    Response.Redirect("../Account/index");
//}
}

<div class="d-flex justify-content-center">
    <h1>FIN DE PARTIE !</h1>
</div>

<div class="d-flex justify-content-center my-4">
    <p>Voulez-vous refaire une partie ?</p>
</div>

<div class="d-flex justify-content-center mt-4">
    <div class="d-flex justify-content-between w-25">
        <button type="button" class="btn btn-lg btn-success" id="boutonOui" onclick="location.href='../Question/Question';"> Oui ! </button>
        <button type="button" class="btn btn-lg btn-danger" id="boutonNon" onclick="location.href='../Account/index';"> Non ! </button>
    </div>
</div>



<!--
    si une mauvaise réponse -> on affiche qu'il a perdu puis on lui demande s'il veut rejouer
    toutes les réponses justes -> félicitation ! Tu veux rejouer ?
-->
